Repository modelcontextprotocol/modelcontextprotocol, pull requests merged in 2025-06, with the labels that each got.

#741 docs(java): Update Java SDK documentation with improved navigation
  docs/sdk/java/mcp-client.mdx
  docs/sdk/java/mcp-overview.mdx
  docs/sdk/java/mcp-server.mdx
Labels: documentation, java

#758 chore: Follow-up on `RFC8707` in authorization.mdx
  docs/specification/draft/basic/authorization.mdx
Labels: auth, security

#641 chore: create a section on session hijack
  docs/specification/draft/basic/security_best_practices.mdx
Labels: documentation, enhancement, security

#769 Refer to "Token Passthrough" section by name
  docs/clients.mdx
  docs/specification/draft/basic/authorization.mdx
Labels: auth, security
