Repository modelcontextprotocol/modelcontextprotocol, pull requests merged in 2025-10, with the labels that each got.

#1471 Update AIQL TUUI MCP support
  docs/clients.mdx
Labels: documentation, clients

#1469 Add Swarms framework to MCP clients documentation
  docs/clients.mdx
Labels: documentation, clients

#1552 (docs) Update Completions introduction
  docs/specification/draft/server/utilities/completion.mdx
Labels: documentation

#1589 Add Kyrian and Chris for PHP to MAINTAINERS
  MAINTAINERS.md
Labels: documentation

#835 SEP-835: Update authorization spec with default scopes definition
  docs/specification/draft/basic/authorization.mdx
  docs/specification/draft/basic/security_best_practices.mdx
  docs/specification/draft/changelog.mdx
Labels: auth, security, SEP, in-review, accepted
